<div class="container">
  <form action="#" method="post" novalidate="novalidate" style="margin: 10px;">
      <div class="row">
          <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-12 p-0">
                    <div class="form-group">
                        <div class="input-group">
                                <input id="typeahead-basic" type="text" placeholder="Destinacija" class="form-control search-slt" [(ngModel)]="accommodationSearch.city" [ngbTypeahead]="search" [ngModelOptions]="{standalone: true}" required/>
                        </div>
                    </div>            
                </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control search-slt" placeholder="Pocetni datum"
                                    name="dp1" [(ngModel)]="beginDate" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [ngModelOptions]="{standalone: true}" required>
                        </div>
                    </div>            
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <div class="form-group">
                        <div class="input-group">
                          <input class="form-control search-slt" placeholder="Krajnji datum"
                                 name="dp2" [(ngModel)]="endDate" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" [ngModelOptions]="{standalone: true}" required>
                        </div>
                      </div>            
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                    <input class="form-control search-slt" type="text" name="numberOfPeople" placeholder="Broj osoba" [(ngModel)] = "accommodationSearch.numberOfPeople" maxlength="3" [ngModelOptions]="{standalone: true}" required>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <form action="#" method="post" novalidate="novalidate" style="margin: 10px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                        <ng-multiselect-dropdown class="form-control search-slt" [placeholder]="'Kategorija'" [settings]="dropdownSettings" [data]="privilegesDropDown" [(ngModel)] = "selectedPrivilege" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                  </div>            
              </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                        <ng-multiselect-dropdown class="form-control search-slt" [placeholder]="'Tip smestaja'" [settings]="dropdownSettings" [data]="privilegesDropDown" [(ngModel)] = "selectedPrivilege" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                  </div>            
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                        <ng-multiselect-dropdown class="form-control search-slt" [placeholder]="'Dodatne usluge'" [settings]="dropdownSettings" [data]="privilegesDropDown" [(ngModel)] = "selectedPrivilege" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>            
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                  <ng-multiselect-dropdown class="form-control search-slt" [placeholder]="'Dani otkazivanja'" [settings]="dropdownSettings" [data]="privilegesDropDown" [(ngModel)] = "selectedPrivilege" [ngModelOptions]="{standalone: true}">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                  <button type="button" class="btn btn-primary wrn-btn" (click) = "simpleSearch()">Search</button>
              </div>
            </div>
        </div>
    </div>
</form>
  <div class="container justify-content-md-center" style="display: -webkit-box;">
      <div class="col-lg-12 p-0">
            <a class="list-group-item" style="min-height: 220px; max-height: 350px;" *ngFor = "let i = index; let accommodation of accommodationToShow | paginate: { itemsPerPage: 10, currentPage: p }">
                <div style="display: inline-flex; width: 100%;">
                    <h4 class="col-lg-10">{{accommodation.adresaDTO.zemlja}}</h4>
                    <h3 class="col-md-2" style="max-width: 25%" (click) = "orderByType('RATING')">{{accommodation.ocena}}</h3>       
                </div>
                <label class="col-lg-10">{{accommodation.opis}}</label>
                <label class="col-lg-10" (click) = "orderByType('CATEGORY')" >{{accommodation.kategorija}}</label>
                <h4 class="col-lg-12">{{accommodation.tipDTO.naziv}}</h4>
                <div class="col-lg-12" style="text-align: end;">
                    <button class="btn book-btn" (click) = "beginBooking(accommodation)" >Book</button>
                </div>
            </a>
            <div class="item col-lg-10 col-lg-10" style="width: 100%; text-align: center;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
    </div>
  </div>
</div>
