<app-meni-bar></app-meni-bar>
<div class="justify-content-md-center">
  <form action="#" method="post" novalidate="novalidate" class="searchForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                              <input id="typeahead-basic" type="text" placeholder="Drzava" class="form-control search-slt" [(ngModel)]="accommodationSearch.zemlja" [ngModelOptions]="{standalone: true}" required/>
                      </div>
                  </div>            
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <div class="form-group">
                    <div class="input-group">
                            <input id="typeahead-basic" type="text" placeholder="Grad" class="form-control search-slt" [(ngModel)]="accommodationSearch.grad" [ngModelOptions]="{standalone: true}" required/>
                    </div>
                </div>            
            </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                          <input class="form-control search-slt" placeholder="Pocetni datum"
                                  name="dp1" [(ngModel)]="beginDate" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [ngModelOptions]="{standalone: true}" required>
                      </div>
                  </div>            
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                        <input class="form-control search-slt" placeholder="Krajnji datum"
                              name="dp2" [(ngModel)]="endDate" [minDate] = "minDate" [maxDate] = "maxDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" [ngModelOptions]="{standalone: true}" required>
                      </div>
                    </div>            
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <input class="form-control search-slt" type="text" name="numberOfPeople" placeholder="Broj osoba" [(ngModel)] = "accommodationSearch.brojOsoba" maxlength="3" [ngModelOptions]="{standalone: true}" required>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                        <ng-multiselect-dropdown class="form-control search-slt" [placeholder]="'Kategorija'" [settings]="dropdownSettings" [data]="categoryDropDown" [(ngModel)] = "selectedCategory" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                  </div>            
              </div>
                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                  <div class="form-group">
                      <div class="input-group">
                        <ng-multiselect-dropdown class="form-control search-slt" [placeholder]="'Tip smestaja'" [settings]="dropdownSettings" [data]="accommodationTypeDropDown" [(ngModel)] = "selectedAccommodationType" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                  </div>            
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <button type="button" class="btn btn-primary wrn-btn" (click) = "searchAccommodations()">Search</button>
              </div>
            </div>
        </div>
    </div>
  </form>
</div>
<div class="container">
  <div class="container justify-content-md-center" style="display: -webkit-box;">
      <div class="col-lg-12 p-0">
            <a class="list-group-item" style="min-height: 220px; max-height: 350px;" *ngFor = "let i = index; let accommodation of accommodationToShow | paginate: { itemsPerPage: 10, currentPage: p }">
                <div style="display: inline-flex; width: 100%;">
                    <h4 class="col-lg-11">{{accommodation.adresaDTO.zemlja}}</h4>
                    <h3 class="col-md-1" style="max-width: 25%" (click) = "orderByType('RATING')">{{accommodation.ocena}}</h3>       
                </div>
                <label class="col-lg-10">{{accommodation.opis}}</label>
                <div style="width: 100%; display: inline-flex;">
                  <h4 class="col-lg-11">{{accommodation.tipDTO.naziv}}</h4>
                  <h4 class="col-lg-1">{{vratiTrenutnuCenu(accommodation)}}</h4>
                </div>
                <div class="col-lg-12" style="text-align: end;">
                    <button class="btn book-btn" (click) = "book(accommodation)" >Book</button>
                </div>
            </a>
            <div class="item col-lg-10 col-lg-10" style="width: 100%; text-align: center;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
    </div>
  </div>
</div>
